[[extend 'layout.html']]

<div class="section">
    <a class="button is-success" href="[[=URL('add')]]">
        <span class="icon"><i class="fa fa-plus"></i></span>
        <span>Add</span>
    </a>

    <div class="container">
        <table class="table is-striped is-fullwidth">
            <tr>
                <th>Name</th>
                <th>Weight</th>
                <th>Diet</th>
                <th>Habitat</th>
                <th>Number of Sightings</th>
                <th></th>
                <th></th>
            </tr>
            [[for row in rows:]]
            <tr>
                <td>[[=row.bird_name]]</td>
                <td>[[=row.bird_weight]]</td>
                <td>[[=row.bird_diet]]</td>
                <td>[[=row.bird_habitat]]</td>
                <td>[[=row.bird_count]]
                    <a href="[[=URL('increment', row.id, signer=url_signer)]]">
                        <span class="icon has-text-success"><i class="fa fa-plus" aria-hidden="true"></i> </span>
                    </a>

                </td>
                <td>
                    <a class="button" href="[[=URL('edit', row.id)]]">
                        <span class="icon"><i class="fa fa-fw fa-pencil"></i></span><span>Edit</span>
                    </a>
                </td>
                <td>
                    <a class="button" href="[[=URL('delete', row.id, signer=url_signer)]]">
                        <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
                    </a>
                </td>
            </tr>
            [[pass]]
        </table>
    </div>
</div>
